# Telegram
BOT_TOKEN=
TG_API_ID=
TG_API_HASH=
TG_SESSION=

# Начальные каналы (опционально, через запятую, без @)
CHANNELS=

# Gemini
GEMINI_API_KEY=
GEMINI_PROXY_URL=http://127.0.0.1:10808
GEMINI_MODEL=gemini-3-flash

# Бот
ADMIN_ID=

# БД
DB_PATH=./data/db.sqlite
